.venv/
venv/
ENV/

__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

.env
.git
.gitignore

*.db

photos/

.DS_Store
.idea/
.vscode/